<div class="container">
    <div class="row">
        {% for tournament in tournaments %}
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="card my-4">
                    <div class="card-header">{{ tournament.name }}</div>
                    <div class="card-body">
                        <p class="card-text"><b>Format:</b> {{ tournament.format.type.capitalize() }}</p>
                        <p class="card-text"><b>Match Format:</b> {{ tournament.match_format.type.capitalize() }}</p>
                        <p class="card-text"><b>Starts:</b> {{ tournament.start_time }}</p>
                        <p class="card-text"><b>Ends:</b> {{ tournament.end_time }}</p>
                        <p class="card-text"><b>Prize:</b> {{ tournament.prize }}</p>
                        <a href="{{ url_for('tournament', tournament_id=tournament.id) }}" class="btn btn-dark">See
                            Details</a>
                        {% if user.role in ["admin", "director"] %}
                            <p class="card-text mt-2 mb-0">
                                <small class="text-muted">
                                    <a href="{{ url_for('update', tournament_id=tournament.id) }}" class="card-link">Update</a>
                                    <a href="#" class="card-link" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal{{ tournament.id }}">Delete</a>
                                </small>
                            </p>
                            <!-- Confirm deletion -->
                            <div class="modal fade" id="deleteModal{{ tournament.id }}" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Tournament ID {{ tournament.id }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Deleting an tournament entry is irreversible</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark"
                                                data-bs-dismiss="modal">Close</button>
                                            <a class="btn btn-outline-danger"
                                                href="{{ url_for('delete', tournament_id=tournament.id) }}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>